<div class="row">
  <div class="col-sm-6">
    <h3>
      <span class="glyphicon glyphicon-shopping-cart"></span>
      Your cart
    </h3>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
    <h3>
      Sub Total ({{itemCount}} items):
      <span class="text-danger"><strong>{{(cart | async).grossTotal | currency:'INR':true}}</strong></span>
    </h3>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
    <a class="btn btn-success btn-lg"
       [attr.disabled]="itemCount === 0 ? true : null"
       routerLink="/checkout">Proceed To Checkout</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    or
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button type="button"
            class="btn btn-secondary btn-sm"
            (click)="emptyCart()"
            [attr.disabled]="itemCount === 0 ? true : null">
      Empty shopping basket
    </button>
  </div>
</div>
