<app-header></app-header>
<div class="panel panel-default">
  <div class="panel-heading">Order details</div>
  
  <table class="table">
    <thead>
      <tr>
          
        <th>Order Id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Item Total</th>
        <th>Delivery Charges</th>
        <th>Gross Total</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>       
        <td>{{product}}</td>
        <td>{{quantity}}</td>
        <td>{{itemtotal}}</td>
        <td>{{delivarycharges}}</td>
        <td>{{grosstotal}}</td>
        
      </tr>
    </tbody>
  </table>
</div>